<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bgrb.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <title>Welcome to the Admin Dashboard</title>
  </head>
  <body>
    <h1>Welcome to the Admin Dashboard!</h1>

    <header class="test">
      <div id="logo">
        <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%" />
      </div>
    </header>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img
          src="/images/SachiHeliopolisInterior1-ezgif.com-webp-to-jpg-converter.jpg"
          style="width: 100%"
        />
      </div>
      <div class="mySlides fade">
        <img
          src="/images/IMG_1933-ezgif.com-webp-to-jpg-converter.jpg "
          style="width: 100%"
        />
      </div>
      <div class="mySlides fade">
        <img
          src="/images/62f845_c977822bfe59464a9fdfe3728d899609mv2-ezgif.com-webp-to-jpg-converter.jpg "
          style="width: 100%"
        />
      </div>
    </div>
    <style>
      body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        height: 100vh;
        padding: 0;
        background-position: center;
        background-attachment: fixed;
        background-image: url("/images/WhatsApp Image 2024-05-08 at 3.53.25 PM.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }
      .mySlides {
        display: none;
      }
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
    </style>

    <div class="white-background"></div>
    <div class="menu-toggle" onclick="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <div class="menu-items" id="menuItems">
      <a href="/">Home</a>
      <a href="#" onclick="showManageUsers()">Manage Users</a>
      <a href="#" onclick="showManageReservations()">Manage Reservations</a>
      <a href="#" onclick="showManageItems()">Manage Items</a>
    </div>

    <div id="manageUsersTable" class="container" style="display: none">
      <h2>Manage Users</h2>
      <table id="usersTable">
        <thead>
          <tr>
            <th>User Name</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% content.users.forEach(user => { %>
          <tr id="user-<%= user._id %>">
            <td><%= user.username %></td>
            <td><%= user.role %></td>
            <td>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <button
                    class="dropdown-item text-danger delete-button"
                    data-id="<%= user._id %>"
                  >
                    <i class="icon-copy fa fa-trash-o" aria-hidden="true"></i
                    >Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <div id="manageReservationsTable" class="container" style="display: none">
      <h2>Manage Reservations</h2>
      <table id="reservationsTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of seats</th>
            <th>Preferred seating</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% content.reservations.forEach(reservation => { %>
          <tr id="reservation-<%= reservation._id %>">
            <td><%= reservation.firstName %> <%= reservation.lastName %></td>
            <td><%= reservation.seatNumber %></td>
            <td><%= reservation.preferredSeating %></td>
            <td>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <button
                    class="dropdown-item text-danger delete-buttonn"
                    data-id="<%= reservation._id %>"
                  >
                    <i class="icon-copy fa fa-trash-o" aria-hidden="true"></i
                    >Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <div id="manageItemsTable" class="container" style="display: none">
      <h2>Manage Items</h2>
      <table id="itemsTable">
        <thead>
          <tr>
            <th>Item name</th>
            <th>description</th>
            <th>Price</th>
            <th>category</th>
            <th>availability</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          <% content.items.forEach(item => { %>
          <tr id="item-<%= item._id %>">
            <td><%= item.itemName %></td>
            <td><%= item.description %></td>
            <td><%= item.price %></td>
            <td><%= item.category %></td>
            <td><%= item.availability %></td>
            <td>
              <div class="dropdown">
                <a
                  class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                >
                  <i class="dw dw-more"></i>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                  <button
                    class="dropdown-item text-danger delete-buttonnn"
                    data-id="<%= item._id %>"
                  >
                    <i class="icon-copy fa fa-trash-o" aria-hidden="true"></i
                    >Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <script src="/js/bgrb.js"></script>
    <script src="/js/admin.js"></script>
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-button").forEach((button) => {
          button.addEventListener("click", async (event) => {
            const userId = event.target.getAttribute("data-id");

            const response = await fetch(`/bgrb/${userId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              document.getElementById(`user-${userId}`).remove();
              alert("User deleted successfully");
            } else {
              alert("Failed to delete user");
            }
          });
        });
      });
    </script>
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-buttonn").forEach((button) => {
          button.addEventListener("click", async (event) => {
            const userId = event.target.getAttribute("data-id");

            const response = await fetch(`/bgrb/reservation/${userId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              document.getElementById(`reservation-${userId}`).remove();
              alert("reservation deleted successfully");
            } else {
              alert("Failed to delete reservation");
            }
          });
        });
      });
    </script>
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".delete-buttonnn").forEach((button) => {
          button.addEventListener("click", async (event) => {
            const itemId = event.target.getAttribute("data-id");

            const response = await fetch(`/item/${itemId}`, {
              method: "DELETE",
            });

            if (response.ok) {
              document.getElementById(`item-${itemId}`).remove();
              alert("item deleted successfully");
            } else {
              alert("item to delete reservation");
            }
          });
        });
      });
    </script>



  </body>
</html>
