<!DOCTYPE html>

<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bgrb.css">
  <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>Welcome to the User Dashboard</title>
  <style>
    
    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      height: 100vh;
      padding: 0;
      background-position: center;
      background-attachment: fixed;
      background-image: url("/images/WhatsApp Image 2024-05-08 at 3.53.25 PM.jpeg");
      background-size: cover; /* Cover the entire background */
      background-repeat: no-repeat; /* Prevent the image from repeating */
    }
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    .mySlides {
      display: none;
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
  </style>
</head>
<body>
  
  <h1>Welcome to the User Dashboard!</h1>
  <header class="test">
    <div id="logo">
      <img src="/images/Untitled-1.png" alt="Logo" style="width: 100%;">
    </div>
  </header>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/images/SachiHeliopolisInterior1-ezgif.com-webp-to-jpg-converter.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="/images/IMG_1933-ezgif.com-webp-to-jpg-converter.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="/images/62f845_c977822bfe59464a9fdfe3728d899609mv2-ezgif.com-webp-to-jpg-converter.jpg" style="width:100%">
    </div>
  </div>

  <div class="white-background"></div>
  <div class="menu-toggle" onclick="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>   

  <div class="menu-items" id="menuItems">
    <a href="/">Home</a>
    <a href="#" onclick="currentreservations()">View Current Reservations</a>
    <a href="/">Book your table</a>
    <a href="#" onclick="reservationshistory()">Booking history</a>
  </div>

  <div class="Container">
    <div class="weldiv">
  

<!-- Assuming reservations are passed from the controller -->
<div id="Viewcurrentreservtaions" class="container" style="display: none;">
  <h2>View current reservations</h2>
  <table id="current">
    <thead>
      <tr>
        <th>Name</th>
        <th>number of seats</th>
        <th>Preferred seating</th> 
         <th>Date</th> 
        <th>Time</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="currentTableBody">
      <% reservations.forEach(reservation => { %>
        <tr>
          <td><%= reservation.firstName %> <%= reservation.lastName %></td>
          
          <td><%= reservation.seatNumber %></td>
          <td><%= reservation.preferredSeating %></td>
          <td><%=reservation.date%></td> 
          <td><%= reservation.Time %></td>
          <td><%= reservation.status%></td>
          <!-- <td id="status-<%= reservation.reservationNumber %>">
            <% if (reservation.status === 'Pending') { %>
              <span class="pending">Pending</span>
            <% } else if (reservation.status === 'Confirmed') { %>
              <span class="confirmed">Confirmed</span>
            <% } else if (reservation.status === 'Cancelled') { %>
              <span class="cancelled">Cancelled</span>
            <% } %>
          </td> -->
          <td>
            <button class="edit-button"onclick="Backtobookyourtable()">Edit</button>
            <button class="delete-button" onclick={deletereserv}>Delete</button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<div id="bookinghis" class="container" style="display: none;">
  <h2>Booking History</h2>
  <table id="history">
      <thead>
          <tr>
              <th>Name</th>
              <th>Number of seats</th>
              <th>Preferred seating</th>
              <th>Date</th>
              <th>Time</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody id="historyTableBody">
        <% reservations.forEach(reservation => { %>
          <% if (reservation.status === 'Done') { %>
            <tr>
              <td><%= reservation.firstName %> <%= reservation.lastName %></td>
              <td><%= reservation.seatNumber %></td>
              <td><%= reservation.preferredSeating %></td>
              <td><%= reservation.date %></td> 
              <td><%= reservation.Time %></td>
              <td><%= reservation.status %></td>
              <td>
                <button class="edit-button" onclick="Backtobookyourtable()">Edit</button>
                <button class="delete-button" onclick={deletereserv}>Delete</button>
              </td>
            </tr>
          <% } %>
        <% }); %>
        
      </tbody>
  </table>
</div>
<script src="/js/userdash.js"></script>

</html>